:host {

  .mode {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
    * { margin: 5px; }
  }

  wm-emoji-input, textarea {
    line-height: 1.5em;
    word-break: break-all;
  }

  .debug {
    word-break: break-all;
  }

  .mat-form-field {
    width: 300px;
  }
}